*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

:root {
    --color-theme: rgba(179,179,179,255);
    --color-back-active: rgba(165,165,165,255);
    --color-gradient: linear-gradient(to right, var(--color-theme),
            var(--color-back-active));
}

@font-face {
    font-family:  "Raleway";
    src: url(../fuente/Raleway-Bold.ttf) format("truetype"), url(../fuente/Raleway-ExtraBold.ttf) format("truetype"), url(../fuente/Raleway-ExtraLight.ttf) format("truetype"), url(../fuente/Raleway-Heavy.ttf) format("truetype"), url(../fuente/Raleway-Light.ttf) format("truetype"), url(../fuente/Raleway-Medium.ttf) format("truetype"), url(../fuente/Raleway-Regular.ttf) format("truetype"), url(../fuente/Raleway-SemiBold.ttf) format("truetype"), url(../fuente/Raleway-Thin.ttf) format("truetype");
    font-weight: normal;    
    font-style: normal;
}

html{
    font-size: 62.5px;
    font-family: "Raleway";
}

body {
    width: auto;
    height: auto;
    background: var(--color-gradient);
}

h1 {
    margin-top: 30px;    
}

.box{
    background: rgba(18,1,81,255);
    width: auto;
    height: 50px;  
    display: flex;
    border-bottom:  5px solid rgba(238,118,172,255);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-evenly;
}

.button {
    color: rgb(235, 230, 230);
    background-color:rgba(18,1,81,255); 
    margin-bottom: auto;
    border-bottom:  5px solid rgba(238,118,172,255);
}

.button:hover{
    color:rgba(165,165,165,255);
}

nav li a {
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}

footer {
    background: rgba(18,1,81,255);
    width: auto;
    height: 50px;  
    display: flex;
    border-top:  5px solid rgba(238,118,172,255);
}
